<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome Results</h2>

    <p><%= @str %> ⤮ <%= @y %></p>
    <p>Palindrome: <%= @result %></p>
  </div>
</div>

